.main{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    background-color: greenyellow;
    color: red;
    text-align: center;
}